.divclass>h1{
			color:#7C6D9C;
		}
		#thirdDiv{
			height:600px;
			width:500px;
			background-color:#82B877;
			/*2K*/
			padding:50px;
			/*2L*/
			border-width:thick;
			border-style:double;
			border-color:#E62323;
		}
		#spanid{
			font-size:18px;
			margin:50px;
		}